@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Kumbh';
        src: url('/public/font/Kumbh-Sans-Regular.woff2') fomrat('woff2');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
}